In [1]:
import numpy as np
import pandas as pd
import re

import transliterate as tr

In [2]:
df = pd.read_csv('cars.csv', index_col='Unnamed: 0')

# Data Cleaning

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Marka   10000 non-null  object
 1   Model   10000 non-null  object
 2   Year    10000 non-null  object
 3   Price   10000 non-null  int64
dtypes: int64(1), object(3)
memory usage: 390.6+ KB

In [4]:
df['Marka'].unique()

array(['Toyota', 'УАЗ', 'Kia', 'Zeekr', 'Land', 'Dodge', 'Audi', 'Mini',
       'Porsche', 'Jeep', 'Maserati', 'BMW', 'Mercedes-Benz', 'Hyundai',
       'Mitsubishi', 'Honda', 'ВАЗ', 'Nissan', 'Mazda', 'Subaru', 'Lexus',
       'Suzuki', 'Chevrolet', 'Volkswagen', 'Ford', 'Cadillac', 'BYD',
       'Opel', 'Infiniti', 'Volvo', 'Changan', 'Genesis', 'ГАЗ',
       'SsangYong', 'Lotus', 'Voyah', 'Hongqi', 'Daewoo', 'Tesla',
       'Jaguar', 'Skoda', 'EXEED', 'HiPhi', 'Avatr', 'IM', 'Li',
       'Bentley', 'ЗАЗ', 'Foton', 'Renault', 'JAC', 'Haval', 'Geely',
       'Peugeot', 'Hummer', 'Lincoln', 'Ravon', 'FAW', 'Mercedes-Maybach',
       'Lamborghini', 'Lifan', 'Chery', 'Smart', 'Jin', 'Daihatsu',
       'Citroen', 'Acura', 'Isuzu', 'Rolls-Royce', 'Neta', 'Wuling',
       'Fiat', 'GMC', 'Jetour', 'GAC', 'Seres', 'Tank', 'Leap', 'OMODA',
       'Ретро-автомобили', 'Denza', 'DongFeng', 'Москвич', 'Weltmeister',
       'BAIC', 'Aston', 'Chrysler', 'MG', 'Great', 'Gonow', 'Pontiac'],
      dtype=object)

In [5]:
df[df.Marka.str.contains('Land')]

     Marka                        Model  Year     Price
13    Land        ['Rover Range Rover']  2021  51000000
14    Land  ['Rover Range Rover Sport']  2007   9000000
72    Land        ['Rover Range Rover']  2006  11000000
82    Land    ['Rover Discovery Sport']  2019  20500000
195   Land        ['Rover Range Rover']  2014  24500000
...    ...                          ...   ...       ...
9888  Land        ['Rover Range Rover']  2005   6000000
9938  Land        ['Rover Range Rover']  2016  34800000
9944  Land        ['Rover Range Rover']  2016  34800000
9973  Land        ['Rover Range Rover']  2007   9350000
9996  Land        ['Rover Range Rover']  2007   9350000

[145 rows x 4 columns]

In [6]:
df.Model = df.Model.apply(lambda x: x[2:-2])
df.loc[df.Marka == 'Land', 'Model'] = df.loc[df.Marka == 'Land', 'Model'].apply(lambda x: x[6:])
df.loc[df.Marka == 'Land', 'Marka'] = 'Land Rover'
print(df[df.Marka.str.contains('Land')].head())

          Marka              Model  Year     Price
13   Land Rover        Range Rover  2021  51000000
14   Land Rover  Range Rover Sport  2007   9000000
72   Land Rover        Range Rover  2006  11000000
82   Land Rover    Discovery Sport  2019  20500000
195  Land Rover        Range Rover  2014  24500000

In [7]:
df.Model.unique()

array(['Vellfire', 'Alphard', 'Estima', '3303', 'K5', '001',
       'Range Rover', 'Range Rover Sport', 'Challenger', 'Tacoma', 'A5',
       'Hatch', 'Cayenne', 'Grand Cherokee', 'Quattroporte', 'X5 M',
       'E 220', 'Elantra', 'Carina E', 'Highlander', 'Sonata',
       'Land Cruiser Prado', '100', 'E 320', 'Montero Sport', 'C 180',
       'Concerto', '(Lada) 2114 (хэтчбек)', 'Terrano', 'Patrol', 'X5',
       'X6', 'Cronos', 'Outback', 'CLS 55 AMG', 'Cefiro', 'LX 570',
       'S 500', 'Camry', 'SX4', 'Panamera', 'Teana', 'S 63 AMG',
       'Land Cruiser', '(Lada) Priora 2170 (седан)', 'Cruze',
       'Transporter', 'C 280', 'S 600', 'X', 'E 260', '525', 'Accent',
       'Avensis', 'L200', 'GLE 63 AMG', 'Mustang', 'Starex', 'GS 350',
       '540', 'Escalade', 'X-Trail', 'Discovery Sport', 'e:NS1', 'Han',
       'Santa Fe', 'Legacy', 'ML 350', 'Sorento', 'Corolla', 'RX 350',
       'M-NV', '3', 'X2', 'E 200', 'Vectra', '740', 'ID.4', 'Maxima',
       'Outlander', 'QX80', 'Tundra', 'GS 300', 'Delica', '4Runner',
       'E 350', 'S60', 'Golf', 'Eado', 'G80', 'ASX', 'CLS 350', 'Staria',
       'Soul', '530', 'RAV 4', 'ES 250', 'ГАЗель', 'Hunter', 'Impreza',
       'RX 300', 'NX 350', 'K8', 'Hilux Surf', 'Passat', 'Pajero', 'X3',
       'X4', 'Windom', 'Rexton', 'Celica', 'Tucson', 'Grandeur', 'Omega',
       'Bongo', 'Eletre', 'Free', '320', 'Solaris', 'LS 460', 'E 53 AMG',
       'A8', 'Forester', '190', 'E-HS9', 'CX-5', '528', 'Transit',
       'GX 470', 'Sportage', 'Macan', 'A6', 'Elysion', '318', 'S 350',
       'Q7', 'XC90', 'Nexia', 'A4', 'Multivan', 'Cee’d', 'Spark', 'Hilux',
       'ML 500', 'E 280', '750', 'ID.6', 'Creta', 'Palisade', 'Sprinter',
       '428', 'X7', 'K7', 'Discovery', 'Avante', 'Rio', 'Polo', 'E 230',
       'Touareg', 'Galant', 'Pajero IO', 'Tiida', 'Model Y',
       'GLE Coupe 400', 'XJ', 'Jetta', 'Sienna', 'E 250', 'Phaeton',
       'Caddy', 'S 400', '550', 'RX 330', 'ML 63 AMG', 'X6 M', 'K3',
       'Superb', 'Baleno', 'CR-V', 'LX Luxury', 'TXL Flagship',
       'VX Premium', 'LX', 'TXL Premium', 'Grand Vitara', 'Patriot',
       'Qashqai', '009', '11', 'i7', 'LS7', 'ID.4 Crozz Prime', 'Z', 'L7',
       'Dream', '001 WE 4WD', 'L9', 'EQC 400 4MATIC', '001 YOU',
       'Model Y Performance', 'Qin', 'Seal', 'Flying Spur', 'G 63 AMG',
       'A3', 'S 55', '(Lada) 2110 (седан)', 'NX 300', '626',
       'Space Runner', 'Chance', 'FX37', 'Xterra', 'G35', 'Ipsum',
       'GLE Coupe 53 AMG', 'Alpha', 'Cobalt', 'Avalon', 'Primera', '535',
       '80', 'ES 350', '735', 'Rio X-Line', 'Model 3', 'Cerato', 'Chaser',
       'Range Rover Velar', 'Zafira', '(Lada) 2106', 'Lancer', 'Nomad',
       'LX 600', 'GV70', 'C 220', 'RVR', 'E 240', 'Chariot', 'Aristo',
       '6', 'Optima', 'S 320', 'Taycan', 'Damas', 'Picanto', 'Mondeo',
       'Duster', 'E 500', 'Rogue', 'Freelander', 'UNI-K', 'CLA 200',
       '840', 'Celerio', 'Space Wagon', 'Juke', 'Town Ace', 'Yeti',
       'Porter', 'S 450', 'RX 200t', 'G 320', 'CLS 500', 'C 230',
       'RX 270', 'Gentra', 'Stinger', 'H-1', 'ML 400', 'Stream', 'E 450',
       'Tiguan', 'Cayenne Coupe', 'Yuan', 'QX50', 'Chana SC6350С',
       'Matiz', 'Jazz', '(Lada) Priora 2172 (хэтчбек)', 'Murano',
       'Sharan', 'HiAce', '520', 'Picnic', '(Lada) Kalina 2192 (хэтчбек)',
       'F-Series', 'UNI-T', 'S3', 'Mark II', 'Xpander', 'M35', 'K9',
       'Malibu', 'Actyon', 'bZ4X', 'Accord', 'Caravelle', 'Amarok',
       'Odyssey', 'S 550', 'XV', 'RX 500h', '(Lada) 2109 (хэтчбек)',
       'LX 470', '(Lada) 2107', 'EQE', 'Almera', 'Civic', 'F7x',
       'FJ Cruiser', 'Note', 'Defender', 'Monjaro', 'Xpander Cross',
       'G 55 AMG', 'A 220', 'Carnival', 'NX 200', 'ES 330', 'GLS 580',
       'Previa', 'GX 460', '(Lada) 2121 Нива', '301', 'H2', 'Q5',
       '(Lada) Largus', 'Pilot', 'Focus', 'Morning',
       '(Lada) Granta 2190 (седан)', '3162',
       '(Lada) Priora 2171 (универсал)', 'XT6', '323', 'G 500',
       '(Lada) Kalina 1118 (седан)', 'Ray', 'Jolion', 'Impreza XV',
       'Astra', 'iX', 'Navigator', 'Veloster', 'i4', 'M5', 'Teramont',
       'QX80 Luxe', 'QX60', 'QX55 Luxe', 'Pathfinder', 'JS6', 'Bayon',
       'Crafter', 'Signum', 'Q8', 'F3', 'Ram', 'Crown', 'ES 300',
       'Caldina', 'C-HR', 'e-tron', 'i3', 'EQC', 'ID.3', 'ID.6 Pure',
       'e-Golf', 'Q5 e-tron', 'Model S', 'V 300', 'V 300 Avantgarde',
       'Hilux Adventure', 'M235', 'Telluride', 'V 250 Avantgarde',
       'X7 XDrive 40i', 'Model S Plaid', 'G 63 AMG 4MATIC',
       'Highlander Luxe', 'S 580 4MATIC', 'EQS SUV', 'Model X',
       'Taycan Turbo S', 'Altima', 'Compass', "R'nessa", 'ГАЗель NEXT',
       'R4', '1024', 'Captiva', '650', 'Express', 'M4', 'Capella',
       'GS 450h', 'E 63 AMG', 'Traverse', 'Fortuner', 'Kyron', 'S 580',
       'Dolphin', 'QX56', 'Micra', 'G 350', 'Fiesta', 'Vito', 'Partner',
       '328', 'One', 'Urus', 'Mark II Qualis', '(Lada) 21099 (седан)',
       'Camaro', 'Samsung SM6', 'X60', '3151', 'GLS 400',
       'Geometry A GE11', 'Samsung QM6', 'Passat CC', 'Prairie Joy',
       'QX70', 'E 300', 'MB 100', 'Tiggo 8 Pro', '630', 'CLS 550',
       '(Lada) XRAY', 'ForTwo', 'Terracan', '(Lada) Largus Cross',
       'Bei Haise', '', 'Sirion', 'Passo', 'T6', 'Emgrand EC7',
       'GLE Coupe 63 AMG', 'Elgrand', 'C4', 'Estima Emina',
       '(Lada) 2115 (седан)', 'Aerio', 'i30', '5', 'Yaris Verso',
       'Carina II', 'Sequoia', 'Venza', 'Nexia R3', 'RX 450h', '730',
       'ES 200', 'Jimny', 'A 200', 'Golf Plus', 'XE', '325', 'A7',
       'GL 500', 'Arrizo 5', 'Continental GT', 'XF', 'E 430', 'Presage',
       'Bentayga', 'Seltos', 'Charger', 'Land Cruiser 70', 'GS 430',
       'Coolray', 'Coolray Flagship', 'Element', 'Cayman', 'Chairman',
       'Range Rover Evoque', 'C 200', 'Corolla Verso', 'V 250', 'CLK 230',
       'Yaris', 'FX50', 'Tahoe', 'Arkana', 'Swift', 'E 55 AMG', 'Vento',
       'Forte', 'CLS 53 AMG', 'Sunny', 'RDX', 'Wizard', 'Octavia',
       'Corona Exiv', 'GLS 450', 'Explorer', '640', 'Space Gear',
       'Phantom', 'X1', 'De Ville', 'GL 63 AMG', '24 (Волга)', 'Rapid',
       'M240', 'E 420', 'Viano', 'FX35', 'Magentis', 'Starlet', 'JS4',
       'Tracker', '220', 'QX4', 'Sentra', 'Rush', 'Буханка',
       'GLE Coupe 43 AMG', 'Diamante', 'WRX STi', 'U', 'A6 allroad',
       'CLA 45 AMG', 'Mirage', 'Harrier', 'LS 430', 'GLC Coupe 300',
       'Camry Gracia', 'GLE Coupe 450 AMG', 'Fabia', 'EQS',
       'Auchan A600 EV', 'Seagull', 'Matrix', 'GLS 63 AMG', 'Skyline',
       'Sunshine', 'Grand Hiace', 'Equinox', 'GV80', 'V90',
       '(Lada) XRAY Cross', 'Eclipse Cross', 'GLK 300', 'Getz', 'Luce',
       'Tribute', 'Pegas', 'Prius', 'NX 250', 'R 63 AMG', 'Bestune T77',
       'A 170', 'TrailBlazer', 'G37', 'S 300', '(Lada) Largus (фургон)',
       'Aveo', '340', '330', '310221 (Волга)', 'ES 300h', 'A 160',
       'Tribeca', 'Stepwgn', 'Almera Tino', 'E 400', 'Tino', 'Ducato',
       'GLS 500', 'Pajero Sport', 'L300', 'IS 350', 'Carisma',
       '(Lada) 2131 (5-ти дверный)', 'GS 250', 'Venue', '3110 (Волга)',
       'Cresta', 'Bingo', 'R2', 'CX-7', 'Crown Majesta', 'Cadenza',
       'ix35', 'Model Y Long Range', 'Raize', 'Lavita', 'ML 320',
       'Cee’d Prestige', 'Cerato Premium', 'Mulsanne', 'Yukon',
       '(Lada) Kalina 2194 (универсал)', 'Campo', 'X70', 'i8', 'HR-V',
       'Mohave', 'Q70', 'Benben E-Star', 'Lancer Evolution', 'C 36 AMG',
       'Song', '001 WE 2WD', 'ID.4 Pro', 'L8', 'iX3', 'ID.6 Pro', 'Tang',
       'ID.6 Prime', 'ID.6 Pure+', 'Model 3 Standart Range',
       'Model 3 Performance', 'ID.4 Crozz Pro', 'Aion S',
       'ID.4 Crozz Pure+', 'RS 5', 'Q5 Sportback', 'A4 allroad',
       'e-tron Sportback 55 Quattro', 'Q5 45 TFSI Quattro',
       'A6 45 TFSI Quattro', 'e-tron 55 Quattro', 'e:NP1', 'M3', 'GX 550',
       'Scirocco', 'D-Max', 'Countryman', 'Elantra Comfort', '911',
       'Prelude', '206', 'XC60', 'Elantra Base Plus', 'K5 GT Line', '300',
       '500', '300 Challenger', 'Azkarra Luxury 4WD',
       'ASX Instyle 4WD Black Edition', 'M6', 'Motor C11', 'Bayon Style',
       'Azkarra Luxury 2WD', 'Monjaro Flagship', 'Lacetti',
       'Fusion (North America)', 'Cee’d Luxe', 'Kangoo', 'Camry Prestige',
       'Corolla Cross', 'Camry Comfort', 'Sonata Style', 'Terios',
       'Han Top', 'Tiggo 8 Pro Max', 'Lyriq', 'Bayon High-Tech', 'Kaptur',
       'C5 Premium 1.5T', 'C5 Comfort 1.6T', 'C5 Premium 1.6T',
       'C5 Comfort 1.5T', 'Monjaro Premium', 'Navara', 'K9 Premium',
       'Beetle', 'Familia', 'A 180', 'CT 200h', 'RZ 450e', 'A 45 AMG',
       'SLK 200', 'UNI-V Tech', '001 ME', 'Американские', 'S80',
       'Azkarra Flagship', 'Tugella Flagship',
       'Escalade Sport Platinum ESV', 'X70 Plus', 'IS 300', 'Menlo',
       '(Lada) Granta 2191 (лифтбек) Classic Optima', 'Cerato Prestige',
       'Escalade Luxury', '2410 (Волга)', 'EV6', 'EQA', 'Tugella Luxury',
       '523', 'Ertiga', '316', 'Cerato GT Line', 'VX Flagship',
       'L200 Instyle', 'J7', 'Azkarra Comfort', 'CS35', 'Millenia',
       'XT6 Sport Platinum', 'G70', 'G 300', 'CS75', 'Picanto GT Line',
       'XT4', 'Trooper', 'Eclipse Cross Instyle', 'Eclipse Cross Intense',
       'Teramont Status', 'Passat Business 2.0 TSI', 'LX 450', 'D9',
       '335', 'Cee’d Comfort', 'Azkarra Flagship+', 'Solara',
       'Elantra Elegance', 'Escalade Premium Luxury Platinum ESV',
       'XT5 Sport', 'Farizon FX', 'Verso', 'S 380',
       '(Lada) Vesta SW Cross', 'EV6 Earth', 'Mark X Zio', 'Fengon E5',
       'Sonata Active Plus', 'Sprinter Carib',
       '(Lada) Granta 2191 (лифтбек)', 'RS 6', 'GLC 300', 'N7',
       'Escalade Sport', '(Lada) Vesta', 'Gaia', 'Sonata Travel', 'Oley',
       'UX 250h', 'K5 Comfort', 'Granada', '401', '21 (Волга)',
       'Carina ED', 'Tivoli', 'Bayon Prime', 'Niva', 'Grandis',
       '31105 (Волга)', 'AMG GT 43', 'Voxy', 'Bora',
       'Escalade Sport Platinum', 'Elantra Style', 'AMG GT 53',
       'Almera Classic', 'Vitara', 'Raum', 'MPV', 'C 240',
       'Duster Life 1.6 MT (4WD)',
       '(Lada) Granta 2190 (седан) Classic Optima', 'Kaptur Style', 'SQ8',
       'Arkana Drive', 'Duster Life TCE (4WD)', 'EX5', 'QX55',
       'QX50 Luxe', 'Tiggo 4 Pro', 'S8', 'Tiggo 7 Pro', 'Wrangler',
       'RX 400h', 'Tang Top', 'L200 DC Invite+', 'ASX Invite 2WD', 'M760',
       'Corsa', 'Durango', 'XCeed Luxe', 'IS 250', 'B-series',
       'Estima Lucida', 'Sandero Stepway', 'S2000', 'Zafira Life',
       'UNI-V', 'HiAce Regius', 'S-Type', 'SL 63 AMG', 'Beijing X7',
       'Continental Flying Spur', '440', '728', 'Atlas', 'Tunland',
       'ID.4 Pure+', 'Omoda 5', 'Logan', 'Onix Premier 2',
       'Tucson Travel 2.0 AT 4WD', 'Cobalt Optimum AT', 'K5 Prestige',
       'GLE 300', 'CS55 Plus', 'Terrano II', 'GLE 53 AMG',
       'GLC Coupe 43 AMG', 'Sonata Active', 'F-Pace',
       'XT6 Premium Luxury', 'G 400', 'Largo', 'T80', 'F7', 'NX 200t',
       'Silver Cloud', 'Legacy Lancaster', 'Mark X', 'Wingroad',
       'C 43 AMG', 'V 220', 'S 680 4MATIC', 'Святогор', 'Ranger', '407',
       'S30', 'Martin DB9', 'View', 'i40', '(Lada) 2102',
       '(Lada) 2108 (хэтчбек)', 'Versa', 'Orthia', 'Dargo', 'Punto',
       'Spectra', 'Taurus', 'Vista Ardeo', 'Fit', 'Sephia',
       '31029 (Волга)', 'Pajero Junior', 'Nadia', 'Caravan', 'S 280',
       'Prairie', 'Escort', 'Pony', 'Vitz', 'S 560', 'H6',
       'Sprinter Marino', '850', 'Impreza WRX STi', '745', 'Rafaga',
       'Cherokee', 'Соболь', 'Tiburon', 'J5', '469', 'X-Type',
       '(Lada) 2103', 'Saber', 'Taos', 'Veloz', 'Premacy', 'Trax',
       'Galloper', '(Lada) 2101', 'F-Type', 'IS 200', 'S 430', 'Pulsar',
       'Town Car', 'NP300', 'Tiggo 5', 'BRZ', 'Sedona', 'e-Bora',
       'CLA 250', 'Safari', 'Vaneo', 'Bluebird', 'Scepter', 'PT Cruiser',
       'DZire', 'GL 550', '308', 'Granvia', 'Insignia', '(Lada) Vesta SW',
       'Samsung SM3', 'B 180', '69', 'Atos', 'Escalade ESV', 'Xedos 9',
       'Coupe', '645', 'Noah', 'Solano', 'Stealth', '350',
       'Wall Hover M4', 'C 250', 'Demio', 'Land Cruiser Premium',
       'Corolla Levin', 'GS 200t', 'Gladiator', 'H3', 'Meriva', 'Q3',
       'Avella', 'XT5 Premium Luxury', 'GLC 250', 'Vivaro', 'Frontera',
       'LT', 'Auris', 'S5', 'SLK 230', 'Sorento Luxe', 'ML 270',
       'Tugella', 'Victor', 'C 300', 'CLS 400', '6390', 'Magnum',
       'Teramont Respect', 'GLE 400', 'C 320', 'SL 55 AMG', 'Epica',
       'Vibe', 'Taos Respect MT'], dtype=object)

In [8]:
df[df.Model.str.contains('\(')].Marka.unique()

array(['ВАЗ', 'ГАЗ', 'Ford', 'Renault'], dtype=object)

In [9]:
df.drop(df[df.Marka.str.contains('Ретро')].index, inplace=True)

In [11]:
df.loc[df.Model.str.contains(r'\('), 'Model'] = \
    df.loc[df.Model.str.contains(r'\('), 'Model'].replace(r"\s?\(.*?\)\s?", "", regex=True)

In [14]:
def transl(text):
    if re.search(r'[А-Яа-я]', text):
        return tr.translit(text, reversed=True)
    return text

In [15]:
df.Marka, df.Model = df.Marka.apply(transl), df.Model.apply(transl)

In [17]:
df[df.Marka.str.contains(r'[^A-Za-z-\s]')].Marka.unique()

array([], dtype=object)

In [19]:
df.Year.unique()

array(['2009', '2006', '2012', '2010', '1987', '2013', '2021', '2023',
       '2007', '2019', '2005', '2002', '2004', '2014', '1992', '2003',
       '1991', '2000', '2008', '1993', '2016', '2022', '2011', '1995',
       '1990', '1994', '1996', '2017', 'На з', '2001', '2020', '2018',
       '2015', '1997', '1999', '1998', '1976', '1986', '1989', '1984',
       '1988', '1983', '1977', '1973', '1981', '1985', '1982', '1972',
       '1954', '1963', '1959', '1956', '1979', '1957', '1970', '1969'],
      dtype=object)

In [34]:
df.drop(df[df.Year == 'На з'].index, inplace=True)

# Data Normalization and to_csv

In [40]:
brands = pd.DataFrame({'Brand Name': df['Marka'].unique()})
brands['Brand ID'] = range(len(brands))

models = pd.DataFrame({'Model Name': df['Model'].unique()})
models['Model ID'] = range(len(models))

car_full = df.copy()
car_full['Brand ID'] = car_full['Marka'].map(brands.set_index('Brand Name')['Brand ID'])
car_full['Model ID'] = car_full['Model'].map(models.set_index('Model Name')['Model ID'])

In [44]:
car_full

              Marka        Model  Year      Price  Brand ID  Model ID
0            Toyota     Vellfire  2009    7700000         0         0
1            Toyota      Alphard  2006    6500000         0         1
2            Toyota     Vellfire  2009    7700000         0         0
3            Toyota       Estima  2012    6300000         0         2
4            Toyota       Estima  2012    6500000         0         2
...             ...          ...   ...        ...       ...       ...
9995         Toyota        HiAce  1995    3800000         0       280
9996     Land Rover  Range Rover  2007    9350000         4         6
9997            BMW         X6 M  2021  100000000        11       170
9998  Mercedes-Benz        S 350  2006    6200000        12       130
9999  Mercedes-Benz        E 280  1996    2600000        12       140

[9581 rows x 6 columns]

In [45]:
brands.to_csv('brands.csv', index = False)
models.to_csv('models.csv', index = False)
car_full.to_csv('car_full.csv', index = False)

In [47]:
car_full[2520:2525]

       Marka       Model  Year     Price  Brand ID  Model ID
2594     Kia          K7  2021  15850000         2       148
2595  Nissan  Pathfinder  2012  10000000        17       346
2596  Toyota  Highlander  2021  28200000         0        19
2597  Toyota       Yaris  2010   5200000         0       477
2598   Zeekr           X  2023  17150000         3        74